<html>
  <head>
    <style>
      * {
        text-align: center;
      }
      h1, label {
        font-family: Georgia, serif;
        color: #4682B4;
      }
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #4682B4;
      }
      li {
        float: left;
      }
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      li a:hover {
        background-color: #2F4F4F;
      }
      .active {
        background-color: #4CAF50;
      }
    </style>
  </head>
  <body>
    <h1>Signup</h1>
    <form action="/users" method="POST">
        <p>
            <label for="email">Email</label>
            <input type="text" name="email" id="email">
        </p>
        <p>
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </p>
        <input type="submit">
    </form>
  </body>
</html>
<p>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a class="button" href="/login">Login</a></li>
  </ul>
</p>