<h2>Create New Travel Destination</h2>

<!-- add content here -->
<form action="/posts" method="post">
  <p><label for="post">Post: </label>
    <input type="text" id="post" name="post[name]"></p>
  <p><label for="post_year_visited">Year Visited: </label>
    <input type="text" id="post_year_visited" name="post[year_visited]"></p>
  <p><input type="submit" value="Create New Travel Destination"></p>
</form>

<a class="button" href="/posts">Posts</a>
<a class="button" href="/">Home</a>