<html>
  <head>
    <style align: center>
      * {
        text-align: center;
      }
      h1, p, ol {
        font-family: Georgia, serif;
        color: #4682B4;
      }
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #4682B4;
      }
      li {
        float: left;
      }
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      li a:hover {
        background-color: #2F4F4F;
      }
      .active {
        background-color: #4CAF50;
      }
    </style>
  </head>
  <body>
    <h1>Destinations</h1>
    <p>
      <% @destinations.each do |destination| %>
        <ol>
          <strong>
            <a href="/destinations/<%= destination.id %>"><%= destination.location %></a>
          </strong> | <%= destination.date_visited %>
        </ol>
        <% end %>
    </p>
  </body>
</html>
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/destinations/new">New Destination</a></li>
  <li><a href="/logout">Logout</a></li>
</ul>