<html>
  <h2>New Destination</h2><br>
  <% if @error %>
    <strong>Error!</strong> <%= @error %>
  <% end %>
  <form action="/destinations" method="POST">
    <label>Location </label>
    <input type="text" name="destination[location]"required><br><br>
    <label>Date Visited </label>
    <input type="date" name="destination[date_visited]"required><br><br>
    <button type="submit">Add Destination</button><br>
  </form>
</html>