<html>
  <div class="container">
      <h1>Travel Tracker</h1>
      <img src="https://i.pinimg.com/originals/23/d6/06/23d60600fccbf902800c36273b69263e.jpg" alt="Travel Tracker Logo">
        <div class="content">
          <p>Welcome to the Travel Tracker! 
          The goal of this website application is to keep track of all the destinations you have visited. 
          Signup to create an account or login and get started!
          </p>
        </div>
    </div>
  </div>
</html>