<!DOCTYPE html>
<html>
  <head>
    <style>
      * {
        text-align: center;
        font-family: Georgia, serif;
        color: #4682B4;
      }
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #4682B4;
      }
      li {
        float: left;
      }
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      li a:hover {
        background-color: #2F4F4F;
      }
      .active {
        background-color: #4CAF50;
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <%= yield %>
      <footer class="branding">
      <small>&copy; 2021 <strong>Travel Tracker</strong></small>
      </footer>
    </div>
  </body>
</html>
<ul>
  <li><a class="button" href="/signup">Signup</a></li>
  <li><a class="button" href="/login">Login</a></li>
  <li><a class="button" href="/logout">Logout</a></li>
  <li><a class="button" href="/destinations">Destinations</a></li>
  <li><a class="button" href="/">Home</a></li>
</ul>