<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h2>Travel Tracker</h2>

  <img src="https://m.media-amazon.com/images/I/51ITu2JugzL._AC_SX355_.jpg">

    <div class="content">
      <p>Welcome to the Travel Tracker! 
      The goal of this website application is to keep track of all the destinations you have visited. 
      Signup to create an account, then login and get started!
      </p>
    </div>

  </div>
</div>
<a class="button" href="/signup">Signup |</a>
<a class="button" href="/login">Login |</a>
<a class="button" href="/destinations">Destinations</a>
